
body{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .services{
    background: #f1f1f1;
    text-align: center;
  }
  .services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 24px;
    padding-bottom: 10px;
    margin-top: 40px;
  }
  .cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
  .service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
  }
  .service:hover{
    background: rgb(194, 188, 188);
    
  }
  
  .service h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    
  }
  .service p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
  }
.services button {
  cursor: pointer;
  background-color: #6666CC;
  border: 2px solid #6666CC;
  border-radius: 6px;
  color: black;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;


}

@media screen and (max-width: 800px) {
  .service{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service{
    width: 80%;
  }
}
  